<div class="full-post">

  {{#if image}}
  <div
    class="cover cover-image"
    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url({{image}}) center/cover no-repeat"
  >
  {{else}}
  {{#if @blog.cover}}
  <div
    class="cover cover-image"
    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url({{@blog.cover}}) center/cover no-repeat"
  >
  {{else}}
  <div class="cover text-only">
  {{/if}}
  {{/if}}
    {{>full_post_title_stuff}}
  </div>

  {{#is "post"}}{{>share_toolbar}}{{/is}}

  <div class="content">
    {{#is "post"}}{{>full_post_date}}{{/is}}
    {{content}}
  </div>
  {{#is "post"}}{{>share_toolbar}}{{/is}}
  <div class="content">
    {{>disqus}}
  </div>

</div>

<script>
function resizeCoverImage() {
  var image = $('.full-post .cover-image');
  var targetHeight = Math.min(
    image.width() / 1.61803,
    $(window).height() * 0.61803398875
  );
  image.css('min-height', targetHeight + 'px');
}
$(resizeCoverImage);
$(function () {
  $(window).resize(resizeCoverImage);
});
</script>
