<div class="sidebar">

  {{#if @blog.logo}}
    {{#is "amp"}}
    <amp-img src="{{@blog.logo}}" width="100" height="100" layout="responsive"></amp-img>
    {{else}}
    <img src="{{@blog.logo}}" class="logo" width="100%"></img>
    {{/is}}
  {{/if}}

  <div class="title">
    {{@blog.title}}
    {{#if @blog.description}}
    <div class="description">{{@blog.description}}</div>
    {{/if}}
  </div>

  {{navigation}}

  {{>social_links}}

</div>
