<div class="sidebar">

  {{#if @blog.logo}}
    {{#is "amp"}}
    <amp-img src="{{@blog.logo}}" width="100" height="100" layout="responsive"></amp-img>
    {{else}}
    <a href="/">
      <div class="logo" style="background-image: url({{@blog.logo}})"></div>
    </a>
    {{/is}}
  {{/if}}

  <div class="title">
    {{@blog.title}}
    {{#if @blog.description}}
    <div class="description">{{@blog.description}}</div>
    {{/if}}
  </div>

  {{navigation}}

  {{>social_links}}

</div>

{{#is "amp"}}{{else}}
<script>
function resizeLogo() {
  var logo = $('.sidebar .logo');
  logo.css('height', logo.width() / 1.61803 + 'px');
}
$(resizeLogo);
$(function () {
  $(window).resize(resizeLogo);
});
</script>
{{/is}}
