<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    {{#is "tag, index"}}
    .full-background-image {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)),
        url(
          {{#is "tag"}}{{#tag}}{{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}}{{/tag}}{{/is}}{{#is "index"}}{{@blog.cover}}{{/is}}
        )
        center/cover no-repeat;
    }
    {{/is}}
    </style>

    {{>css_include}}

    <script>window.__themeCfg = {};</script>
    {{>js_include}}

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div class="layout">
      <div class="sidebar-wrapper">{{>sidebar}}</div>
      <div class="content-wrapper full-background-image">
        {{{body}}}
        {{>theme_attribution}}
      </div>
    </div>
    {{>detect_layout}}
    {{>google_analytics}}
    {{>prism}}
    {{ghost_foot}}
  </body>
</html>
